.Cardapio {
 background-color: #6ae076;
  color: white;
  padding: 15px 25px;
  margin: 15px 0;
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
  font-weight: bold;
  width: 90%;
  max-width: 250px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.Cardapio:hover {
  background-color: #6ae076;
}

.icon{
  width: 22px;
  height: 22px;
}

@media (min-width: 600px) {
  .Cardapio {
    padding: 18px 40px;
    font-size: 28px;
    max-width: 400px;
  }
}