.logo-sobre-calda {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 50vw;
  max-width: 400px;
  min-width: 350px;
  z-index: 10; 

}


@media (max-width: 600px) {
  .logo-sobre-calda {
    width: 50vw;  
    max-width: 350px;
  }
}
